.carousel{
    .imgCont{
        height: 500px;
        >img{
            
        }
    }
}

@media (max-width: 800px) {
    .carousel{
        height: 300px;
    }
}
@media (max-width: 500px) {
    .carousel{
        height: 200px;
    }
}
.react-multi-carousel-item{
    width: 200px !important;
    height: 320px;
    padding: 20px !important;
    align-items: center;
    padding: 10px 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1.8px 1.8px 10px 1px #0000005a;
    margin-left: 30px;
    cursor: pointer;

}
.mobileSliderCard{
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    &:hover{
        >img{
            scale: 1.15;
        }
    }

    >img{
        transition: all 0.3s;
        width: 100%;
        border-radius: 10px;
    }
}